@charset "UTF-8";
/* @group Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1;
  background-color: #eee;
}

body {
  position: relative;
  font-family: arial, STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
  font-size: 12px;
  line-height: normal;
  color: #222;
  margin: 0;
}

a {
  color: rgba(42, 54, 59, 0.9);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #CF4647;
}

a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=checkbox], input[type=radio] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px\9;
  padding: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
  outline: 0;
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label[for] {
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* @end */
.ele-lang-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.ele-lang-wrap a {
  float: left;
  text-align: left;
  background: url('../image/not-use/lang_circle2.png') no-repeat;
}
.ele-lang-wrap .ele-lang-group {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #CF4647;
}
.ele-lang-wrap .ele-lang-group a {
  color: #fff;
}
.ele-lang-wrap .ele-lang-group a.ele-lang-current, .ele-lang-wrap .ele-lang-group a:hover {
  background-color: #b32f30;
}
.ele-lang-wrap a {
  display: block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  padding: 0 5px 0 32px;
}
.ele-lang-wrap a.flag01 {
  background-position: 5px 6px;
}
.ele-lang-wrap a.flag02 {
  background-position: 5px -34px;
}
.ele-lang-wrap a.flag03 {
  background-position: 5px -74px;
}

.first-game-wrap .first-game {
  display: inline-block;
  float: left;
  width: 240px;
  height: 240px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.first-game-wrap .first-game01 {
  background-image: url('../image/game01.jpg');
}
.first-game-wrap .first-game01:hover {
  background-image: url('../image/game01_over.jpg');
}
.first-game-wrap .first-game02 {
  background-image: url('../image/game02.jpg');
}
.first-game-wrap .first-game02:hover {
  background-image: url('../image/game02_over.jpg');
}
.first-game-wrap .first-game03 {
  background-image: url('../image/game03.jpg');
}
.first-game-wrap .first-game03:hover {
  background-image: url('../image/game03_over.jpg');
}
.first-game-wrap .first-game04 {
  background-image: url('../image/game04.jpg');
}
.first-game-wrap .first-game04:hover {
  background-image: url('../image/game04_over.jpg');
}

.ele-slideshow-wrap {
  position: relative;
  width: 100%;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 380px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
}

.wrapper, #mainBody {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.wrapper:before, #mainBody:before, .wrapper:after, #mainBody:after {
  content: "";
  display: table;
}
.wrapper:after, #mainBody:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

#page-header {
  position: relative;
  padding-bottom: 10px;
}
#page-header .header-top {
  text-align: right;
  padding: 10px 0;
}

.logo {
  float: left;
}
.logo #ele-logo-img {
  display: inline-block;
  width: 120px;
  height: 46px;
  background: url('../image/logo.png') top center no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.logo #ele-logo-img:hover {
  opacity: 0.7;
}

.mainnav-wrap {
  float: right;
}
.mainnav li {
  display: inline-block;
  float: left;
}
.mainnav li a {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 46px;
  color: rgba(42, 54, 59, 0.9);
  background: transparent;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
}
.mainnav li a.current, .mainnav li a:hover {
  color: #fff;
  background: #CF4647;
  -webkit-transition: background 0.1s cubic-bezier(0, 0.21, 0.68, 0.79);
  transition: background 0.1s cubic-bezier(0, 0.21, 0.68, 0.79);
}

.ele-drop-group a {
  width: 100px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: #CF4647;
}
.ele-drop-group a:hover {
  color: #fff;
  background-color: #b32f30;
}

.login-wrap {
  display: inline-block;
}
.login-wrap .login-unit {
  display: inline-block;
}
.login-wrap .login-unit input {
  display: inline-block;
  outline: none;
  border: 1px solid #f4d4d4;
  background-color: transparent;
  padding: 5px;
}
.login-wrap .login-unit input.login-input::-webkit-input-placeholder {
  color: #ccc;
}
.login-wrap .login-unit input.login-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}
.login-wrap .login-unit input.login-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}
.login-wrap .login-unit input.login-input:-ms-input-placeholder {
  color: #ccc;
}
.login-wrap .login-unit input.login-input.placeholder {
  color: #CF4647;
}

.meminfo-wrap {
  display: inline-block;
}
.meminfo-wrap .mem-info, .meminfo-wrap .SU-Menual, .meminfo-wrap .ele-obalance-wrap {
  display: inline-block;
}
.meminfo-wrap .mem-info {
  margin-right: 20px;
}
.meminfo-wrap .mem-info .ele-accinfo, .meminfo-wrap .mem-info .ele-acc-unit {
  display: inline-block;
}
.meminfo-wrap .mem-info .ele-acc-unit {
  position: relative;
  padding-left: 10px;
}
.meminfo-wrap .login-Menual > li {
  display: inline-block;
}
.meminfo-wrap .login-Menual > li a {
  padding: 0 3px;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 999;
  width: 270px;
  color: #fff;
  background: #CF4647;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  border-radius: 2px;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #b32f30;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #621a1a;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #4e1415;
}

#page-footer {
  padding-top: 10px;
}

.ele-slideshow-wrap {
  position: relative;
  width: 100%;
  height: 380px;
  z-index: 2;
  top: 0;
}
.ele-slideshow-wrap ul li a .img {
  background-size: 100%;
}

.js-ele-slideshow-control-wrap {
  position: absolute;
  bottom: 10px;
  z-index: 9;
}

.ele-slideshow-arrow-wrap {
  top: 50%;
}
.ele-slideshow-arrow-wrap .ele-slideshow-arrow {
  position: absolute;
  z-index: 9;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../image/slider_arrow.png') top center no-repeat;
  opacity: 0.5;
}
.ele-slideshow-arrow-wrap .ele-slideshow-arrow.ele-slideshow-arrow-right {
  right: 0;
  background-position: bottom center;
}
.ele-slideshow-arrow-wrap .ele-slideshow-arrow:hover {
  opacity: 1;
}

.ele-slideshow-nav > a {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #eee;
}
.ele-slideshow-nav > a.active {
  background-color: #CF4647;
}

.run-line {
  height: 1px;
  background-color: #CF4647;
  position: absolute;
  z-index: 9;
}

.news-wrap .msgNews {
  line-height: 30px;
}
.news-wrap .msgNews > a:hover {
  color: #CF4647;
}

.game .game-menu-filter {
  color: #696969;
}
.game .game-menu-filter span {
  color: #444;
}
.game .game-menu-filter span .game-filter-num {
  color: #D2261E;
}
.game .game-btn-search i:before {
  color: #fff;
}
.game .game-btn-search i:after {
  background-color: #AAA;
}
.game .game-search-input {
  color: #6A6A6A;
  background-color: #fff;
}
.game .game-search-input.placeholder {
  color: #6A6A6A;
}
.game .game-box-view li i {
  color: #9E9E9E;
}
.game .game-box-view li a:hover i, .game .game-box-view li a:focus i, .game .game-box-view li a:active i, .game .game-box-view li a.active i {
  color: #CF4647;
}

.about .page-sidebar {
  float: left;
  width: 195px;
}
.about .page-right {
  margin-left: 195px;
}

.banner {
  min-height: 287px;
  position: relative;
}
.about .banner, .live .banner, .ball .banner, .game .banner, .lottery .banner, .memberexclusiveii .banner {
  height: auto;
  background-repeat: no-repeat;
  background-position: center top;
}
.game .banner {
  padding: 80px 0 0 0;
  min-height: 234px;
}

.memberexclusiveii-wrap .promotionsImg {
  position: relative;
  display: block;
  width: 960px;
  height: 200px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  margin: 0 auto;
}
.memberexclusiveii-wrap .promotions01 {
  background: url('../image/not-use/promotion01.jpg') no-repeat center top;
  padding-bottom: 2px;
}
.memberexclusiveii-wrap .promotions01:hover {
  background: url('../image/not-use/promotion01_over.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions02 {
  background: url('../image/not-use/promotion02.jpg') no-repeat center top;
  padding-bottom: 2px;
}
.memberexclusiveii-wrap .promotions02:hover {
  background: url('../image/not-use/promotion02_over.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions03 {
  background: url('../image/not-use/promotion03.jpg') no-repeat center top;
  padding-bottom: 2px;
}
.memberexclusiveii-wrap .promotions03:hover {
  background: url('../image/not-use/promotion03_over.jpg') no-repeat;
}

/*# sourceMappingURL=style.css.map */