// slideshow
.ele-slideshow-wrap {
    position: relative;
    width: 100%;
    height: image-height("slider.jpg");
    z-index: 2;
    top: 0;
    ul li a .img {
        background-size: 100%;
    }
}
.js-ele-slideshow-control-wrap {
    position: absolute;
    bottom: 10px;
    z-index: 9;
}
.ele-slideshow-arrow-wrap {
    top: 50%;
    .ele-slideshow-arrow {
        position: absolute;
        z-index: 9;
        display: inline-block;
        width: 60px;
        height: 60px;
        background: image-url("slider_arrow.png") top center no-repeat;
        opacity: 0.5;
        &.ele-slideshow-arrow-right {
            right: 0;
            background-position: bottom center;
        }
        &:hover {
            opacity: 1;
        }
    }
}
.ele-slideshow-nav {
    > a {
        display: inline-block;
        width: 50px;
        height: 5px;
        background-color: #eee;
        &.active {
            background-color: colors(primary);
        }
    }
}
.run-line {
    height: 1px;
    background-color: colors(primary);
    position: absolute;
    z-index: 9;
}

// news
.news-wrap {
    .msgNews {
        line-height: 30px;
        > a {
            &:hover {
                color: colors(primary);
            }
        }
    }
}