// =================== 主要置中區塊
.wrapper {
    @include container-fixed;
}
.clearfix {
    @include clearfix;
}

#mainBody {
    @extend .wrapper;
    .game & {
    }
}

// =================== header
#page-header {
    position: relative;
    .header-top {
        text-align: right;
        padding: 10px 0;
    }
    .header-bottom {
        padding-bottom: 10px;
    }
}
.logo {
    float: left;
    #ele-logo-img {
        display: inline-block;
        width: image-width("logo.png");
        height: image-height("logo.png");
        background: image-url('logo.png') top center no-repeat;
        background-size: 100%;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
// mainnav
// ＊＊ 不修改可直接刪除 ＊＊
@include mainnav (
    // 選單 ==
    $link-width: 100px,              // 1 連結寬度
    $line-height: image-height("logo.png"), // 2 連結高度
    $link-color: $link-color,        // 3 連結文字顏色
    $link-bg: transparent,           // 4 連結背景顏色
    $link-color-hover: #fff,         // 5 hover:連結文字顏色
    $link-bg-hover: colors(primary), // 6 hover:連結背景顏色
    // 下拉選單 ==
    $drop-link-width: 100px,         // 1 連結寬度
    $drop-link-height: 40px,         // 2 連結高度
    $drop-link-color: #fff,          // 3 連結文字顏色
    $drop-link-bg: colors(primary),  // 4 連結背景顏色
    $drop-link-color-hover: #fff,    // 5 hover:連結文字顏色
    $drop-link-bg-hover: darken(colors(primary), 10%) // 6 hover:連結背景顏色
);
// end mainnav

// login
.login-wrap {
    display: inline-block;
    .login-unit {
        display: inline-block;
    }
    input {
        // placeholder欄位
        @include input-color(
            $bg-color: transparent,                         // 1 背景色
            $border: 1px solid lighten(colors(primary),35%) // 2 邊框
        );
        // placeholder顏色
        @include input-font-color(
            $colorI: colors(primary), // 1 點擊前
            $colorII: #ccc            // 2 點擊後
        );
    }
}
// end login

// meminfo
.meminfo-wrap {
    display: inline-block;
    .mem-info, .SU-Menual, .ele-obalance-wrap {
        display: inline-block;
    }
    .mem-info {
        margin-right: 20px;
        .ele-accinfo, .ele-acc-unit {
            display: inline-block;
        }
        .ele-acc-unit {
            position: relative;
            padding-left: 10px;
        }
    }
    .login-Menual {
        > li {
            display: inline-block;
            a {
                padding: 0 3px;
            }
        }
    }
}
// 餘額顯示
@include meminfo (
    $mem-color: #fff,                              // 1 文字顏色
    $mem-bg: colors(primary),                      // 2 背景顏色
    $mem-tool-bg: darken(colors(primary), 10%),    // 3 餘額轉換背景顏色
    $mem-tool-color: #fff,                         // 4 餘額轉換按鈕文字顏色
    $mem-tool-btn-bg: darken(colors(primary), 30%) // 5 餘額轉換按鈕背景顏色
) {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 2px;
    .ele-balance-tool {
        > a {
            border-radius: 2px;
        }
    }
}
// end meminfo

// login-Menual
@mixin login-Menual(
    $link-color: $link-color,
    $link-color-hover: $link-hover-color,
    $line-color:false
) {
.login-Menual {
    li {
        line-height: 18px;
        a {
            color: $link-color;
            #MsgNotReadCount, &:hover {
                color: $link-color-hover;
            }
        }
        @if $line-color {
            &:after {
                content: '|';
                display: inline-block;
                color: $line-color;
                margin-left: 3px;
            }
        }
    }
}
}
@include login-Menual(
    $link-color: $link-color,             // 1 連結文字顏色
    $link-color-hover: $link-hover-color, // 2 hover:連結文字顏色
    $line-color: rgba(colors(dark), .3)   // 3 連結中線顏色, 如無則可直接刪除
);
// =================== end header

// =================== container
// #page-container {
//  position: relative;
//  background: image-url('page_container_bg.jpg') no-repeat center top #0B171B;
//  padding: 40px 0 80px 0;
//  .first & {
//      background: image-url('first_container_bg.jpg') no-repeat center top #1B272B;
//      padding: 20px 0 50px 0;
//  }
// }
// =================== end container

// =================== footer
#page-footer {
    padding-top: 10px;
}
// .footer {
//  &-left {
//       float: left;
//       width: 744px;
//       padding: 0 0 0 5px;
//       box-sizing: border-box;
//  }
//  &-nav {
//      padding: 20px 0 40px 0;
//      li {
//          display: inline-block;
//          font-size: 14px;
//          font-weight: bold;
//          padding: 0 14px;
//          a {
//              color: #fff;
//              @include transition (all .3s);
//              &:hover {
//                  color: $base-red;
//              }
//          }
//      }
//      .ball &, .game &, .lottery & {
//          padding-bottom: 26px;
//      }
//  }
//  &-pay {
//      font-size: 20px;
//      color: #5F6365;
//      padding: 0 0 0 15px;
//      img {
//          display: block;
//          margin: 5px 0 0 0;
//      }
//  }
//  &-mobile {
//      float: right;
//      width: 280px;
//      margin-top: -78px;
//      padding: 0 10px 20px 0;
//      box-sizing: border-box;
//      @include transition (all .3s);
//      &:hover {
//          @include filter-grayscale(0.2);
//      }
//  }
//  &-bottom {
//      border-top: 1px solid #313b3f;
//      line-height: 80px;
//  }
//  &-copyright {
//      float: left;
//      font-size: 12px;
//      color: #fff;
//  }
//  &-logo {
//      float: right;
//      height: 80px;
//      a {
//          position: relative;
//          display: inline-block;
//          height: 80px;
//          padding: 20px 20px 0 20px;
//          top: 0;
//          box-sizing: border-box;
//          @include transition (all .3s);
//          &:hover {
//              top: -3px;
//          }
//          .ball &, .game &, .lottery & {
//              padding-top: 0;
//          }
//      }
//  }
// }
// =================== end footer