// 不修改直接刪除
@include casino(
    // $color01: ,  //標題的文字顏色
    // $color02: ,  //副標題的文字顏色
    // $color03: ,  //副標題的數字顏色
    // $color04: ,  //搜尋按鈕放大鏡圖片顏色
    // $color05: ,  //搜尋按鈕底色
    // $color08: ,  //鍵入的搜尋文字顏色
    // $color09: ,  //搜尋框底色
    // $color10: ,  //搜尋框的預設文字顏色"請輸入遊戲名稱"
    // $color11: ,  //列表icon顏色
    $color12: colors(primary)   //Active的列表icon顏色
);

.about {
    .page-sidebar {
        float: left;
        width: 195px;
    }
    .page-right {
        margin-left: 195px;
    }
}

// header
.banner{
	min-height: 287px;
	position: relative;
	.about &,
	.live &,
	.ball &,
	.game &,
	.lottery &,
	.memberexclusiveii & {
		height: auto;
        background-repeat: no-repeat;
        background-position: center top;
	}
	// $page-banner:live, lottery, memberexclusiveii;
	// @each $var in $page-banner{
	// 	.#{$var} & {
	// 		background-image: url(../image/lang/zh-cn/title_#{$var}.png);
	// 	}
	// }
	.about & {
		// background-image: image-url('lang/zh-cn/title_welcome.png');
	}
	.ball & {
		// background-image: image-url('lang/zh-cn/title_sports.png');
	}
	.game & {
		padding: 80px 0 0 0;
		min-height: 234px;
	}
}

// promotions
.memberexclusiveii-wrap {
    .promotionsImg {
    	position: relative;
        display: block;
        width: image-width('not-use/promotion01.jpg');
        height: image-height('not-use/promotion01.jpg');
        transition: background .3s ease;
        margin: 0 auto;
    }
    @for $i from 1 through 3 {
        .promotions0#{$i} {
            background: image-url('not-use/promotion0#{$i}.jpg') no-repeat center top;
            padding-bottom: 2px;
            &:hover {
				background: image-url('not-use/promotion0#{$i}_over.jpg') no-repeat;
            }
        }
    }
}