// 清除浮動
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// 置中放置內容的區塊
@mixin container-fixed($gutter: $grid-gutter-width) {
    width: $container-width;
    margin-right: auto;
    margin-left: auto;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    @include clearfix;
}

// 圖片
@mixin bg($img) {
    width: image-width(#{$img});
    height: image-height(#{$img});
    background: image-url(#{$img}) no-repeat;
}

// 按鈕圖片
@mixin bg-btn($img) {
    width: image-width(#{$img});
    height: image-height(#{$img})/2;
    background: image-url(#{$img}) no-repeat;
    &:hover {
        background-position: bottom;
    }
}

@mixin alink() {
    &:hover,
    &:focus,
    &:active,
    &.active {
        @content;
    }
}

// ---------------------------- 基本變數 end

// mainnav選單
@mixin mainnav(
    // 選單 ==
    $link-width: 100px,              // 1 連結寬度
    $line-height: image-height("logo.png"), // 2 連結高度
    $link-color: $link-color,        // 3 連結文字顏色
    $link-bg: transparent,           // 4 連結背景顏色
    $link-color-hover: #fff,         // 5 hover:連結文字顏色
    $link-bg-hover: colors(primary), // 6 hover:連結背景顏色
    // 下拉選單 ==
    $drop-link-width: 100px,         // 1 連結寬度
    $drop-link-height: 40px,         // 2 連結高度
    $drop-link-color: #fff,          // 3 連結文字顏色
    $drop-link-bg: colors(primary),  // 4 連結背景顏色
    $drop-link-color-hover: #fff,    // 5 hover:連結文字顏色
    $drop-link-bg-hover: darken(colors(primary), 10%) // 6 hover:連結背景顏色
) {
.mainnav {
    &-wrap {
        float: right;
    }
    li {
        display: inline-block;
        float: left;
        a {
            display: block;
            width: $link-width;
            text-align: center;
            line-height: $line-height;
            color: $link-color;
            background: $link-bg;
            transition: background .4s ease;
            &.current, &:hover {
                color: $link-color-hover;
                background: $link-bg-hover;
                transition: background .1s cubic-bezier(0, 0.21, 0.68, 0.79);
            }
        }
    }
}
.ele-drop-group {
    a {
        width: $drop-link-width;
        display: block;
        text-align: center;
        line-height: $drop-link-height;
        color: $drop-link-color;
        background-color: $drop-link-bg;
        &:hover{
            color: $drop-link-color-hover;
            background-color: $drop-link-bg-hover;
        }
    }
}
}

// 登入前
// placeholder欄位 = 背景色, 邊框
@mixin input-color($bg-color: #f5f5f5, $border: 1px solid #666) {
    display: inline-block;
    outline: none;
    border: $border;
    background-color: $bg-color;
    padding: 5px;
}
// placeholder顏色 = 點擊前,點擊後
@mixin input-font-color($colorI: #CCC, $colorII: #DDD) {
    &.login-input {
        &::-webkit-input-placeholder {
            color: $colorII;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $colorII;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
            color: $colorII;
        }
        &:-ms-input-placeholder {
            color: $colorII;
        }
        &.placeholder {
            color: $colorI;
        }
    }
}
// 登入後
// 餘額顯示 = 1 文字顏色, 2 背景顏色, 3 餘額轉換背景顏色, 4 餘額轉換按鈕文字顏色, 5 餘額轉換按鈕背景顏色
@mixin meminfo(
    $mem-color: #000,      //1
    $mem-bg: #fafafa,      //2
    $mem-tool-bg: #f4f4f4, //3
    $mem-tool-color: #fff, //4
    $mem-tool-btn-bg: #555 //5
) {
.ele-obalance-item-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    width: 270px;

    color: $mem-color;
    background: $mem-bg;

    @content;
    .ele-obalance-item {
        padding: 10px;
        .ele-obalance {
            line-height: 16px;
            padding-bottom: 4px;
        }
    }
    .ele-balance-tool {
        text-align: right;
        padding: 4px;

        background-color: $mem-tool-bg;
        > a {
            display: inline-block;
            transition: background-color .20s linear;
            padding: 4px 8px;

            color: $mem-tool-color;
            background-color: $mem-tool-btn-bg;
            &:hover {
                background-color: darken($mem-tool-btn-bg, 5%);
            }
        }
    }
}
}
// login-Menual
@mixin login-Menual(
    $link-color: $link-color,             // 1 連結文字顏色
    $link-color-hover: $link-hover-color, // 2 hover:連結文字顏色
    $line-color:false                     // 3 連結中線顏色, 如無則可直接刪除
) {
.login-Menual {
    li {
        line-height: 18px;
        a {
            color: $link-color;
            #MsgNotReadCount, &:hover {
                color: $link-color-hover;
            }
        }
        @if $line-color {
            &:after {
                content: '|';
                display: inline-block;
                color: $line-color;
                margin-left: 3px;
            }
        }
    }
}
}


// casino
@mixin casino(
    $color01: #696969,  //標題的文字顏色
    $color02: #444,     //副標題的文字顏色
    $color03: #D2261E,  //副標題的數字顏色
    $color04: #fff,     //搜尋按鈕放大鏡圖片顏色
    $color05: #AAA,     //搜尋按鈕底色
    // $color06: #fff,  //Active的搜尋按鈕放大鏡圖片顏色
    // $color07: #AAA,  //Active的搜尋按鈕底色
    $color08: #6A6A6A,  //鍵入的搜尋文字顏色
    $color09: #fff,     //搜尋框底色
    $color10: #6A6A6A,  //搜尋框的預設文字顏色"請輸入遊戲名稱"
    $color11: #9E9E9E,  //列表icon顏色
    $color12: #454545   //Active的列表icon顏色
) {
.game {
    .game-menu-filter {
        color: $color01; //標題的文字顏色
        span {
            color: $color02; //副標題的文字顏色
            .game-filter-num {
                color: $color03; //副標題的數字顏色
            }
        }
    }
    .game-btn-search i {
        &:before {
            color: $color04; //搜尋按鈕放大鏡圖片顏色
        }
        &:after {
            background-color: $color05; //搜尋按鈕底色
        }
        // &.search-active {
        //     color: $color06; //Active的搜尋按鈕放大鏡圖片顏色
        //     background-color: $color07; //Active的搜尋按鈕底色
        // }
    }
    .game-search-input {
        color: $color08; // 鍵入的搜尋文字顏色
        background-color: $color09; //搜尋框底色
        &.placeholder {
            color: $color10; //搜尋框的預設文字顏色"請輸入遊戲名稱"
        }
    }
    .game-box-view li {
        i {
            color: $color11; //列表icon顏色
        }
        a {
            @include alink {
                i {
                    color: $color12; //Active的列表icon顏色
                }
            }
        }
    }
}
}