// 變數
// --------------------------------------------------
//== 顏色
$colors: (
    dark:    #2A363B,
    light:   #F8F6F6,
    primary: #CF4647,
    accent:  #46c100,
    warning: #ff7e00,
    danger:  #f31809
)!default;
@function colors($key) {
    @return map-get($colors, $key);
}

//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg       : #eee !default;
//** Global text color on `<body>`.
$text-color    : #222 !default;
//** Global textual link color.
$link-color    : rgba(colors(dark), .9) !default;
//** Link hover color set via `darken()` function.
$link-hover-color: colors(primary) !default;


//== Typography
//
//## Font, line-height, and color for body text, and more.
$font-family-base: arial, STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体" !default;
$font-size-base: 12px !default;
$line-height-base: normal !default;


//頁面寬度
$container-width: 960px; //主要置中區塊寬度
$grid-gutter-width: 0; //主要置中區塊兩邊空隙


//目前語系資料夾
$lang: 'lang/zh-cn/';

//-----------------------------------------------------------------------------------------------------------------------------
//語系種類
$lang-kind: selectFlag; //false=不使用; Flag=使用inline國旗, selectFlag=使用select國旗
$lang-img: 'lang_circle2';

//-----------------------------------------------------------------------------------------------------------------------------

//首頁遊戲圖
$first-game-lang: true; //true=使用, false=不使用;
$first-game-format: jpg; //遊戲圖圖片格式: png or jpg;


//-----------------------------------------------------------------------------------------------------------------------------
//首頁遊戲圖
$first-slider: true;
$first-height: image-height('slider.jpg');